<div class="container" data-bs-theme="dark" style="width: 75%;">
    <br>
    <form>
      <div class="card border-3 " >
        <div class="card-header text-white bg-primary border-3">
          <h4>Alugando</h4>
        </div>
        <div class="card-body bg-dark text-white">

          <div class="row">

            <div class="form-group col-md-6" style="text-align: left;">
              <label  for="nome"><strong>Data Devolução:</strong></label>
              <input type="date" style="color: #6aaeed;" class="form-control" name="nome">
            </div>
            <div class="form-group col-md-3" style="text-align: left;">
              <label for="enderecoDeEntrega"><strong>Endereço</strong></label>

              <select
              class="form-control"
              name="enderecoDeEntrega"
              [(ngModel)]="aluguel.enderecoDeEntrega"
              [compareWith]="compareById"
            >
              @for(endereco of enderecos; track endereco.id){
              <option [ngValue]="endereco">{{ endereco.nome }}</option>
              }
            </select>
              <br>
            </div>

            <div class="d-flex justify-content-between">
              <div class="d-flex">
                <button type="submit" class="form-control btn btn-primary me-2">
                  <i class="bi bi-check"></i><strong>Alugar</strong>
                </button>&thinsp;
                <button type="submit" class="form-control btn btn-warning">
                  <strong>Voltar</strong>
                </button>
              </div>
              <button class="btn btn-warning" style="width: 200px;">
                <img src="assets/images/IconMais.png" style="width: 18px; height: 20px; padding-bottom: 3px;" alt="adicionar novo endereço">
                <strong>Adicionar Endereço</strong>
              </button>
            </div>
        </div>
        </div>
      </div>
    </form>
    <br><br>
     <table class="table table-dark table-striped border" style="border-color: white;">
      <thead style="text-align: center;">
        <tr>
          <th>Nome</th>
          <th style="width: 600px;">Descrição</th>
          <th>Valor da diária</th>
          <th class="col-md-2">Ações</th>
        </tr>
      </thead>
      <tbody class="table-group-divider border" style="text-align: center; border-color: white;">
        @for (item of itens; track item){
          <tr class="sobrePor">
            <td>{{ item.brinquedo.nome }}</td>
            <td>{{ item.brinquedo.descricao }}</td>
            <td>R$ {{ item.brinquedo.valorDiaria }}</td>
            <td>
              <div class="row">

                  <button class="btn btn-danger col-md-3" style="width: 55px; text-align: center;"><img style="width: 20px; height: 24px; padding-bottom: 4px;" src="assets/images/IconLixeira.png" alt="lixeira"></button>&nbsp;&nbsp;

                </div>
          </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
