

<div class="container" data-bs-theme="dark" style="width: 75%;">
    <br>
    <form>
      <div class="card border-3">
        <div class="card-header text-white bg-primary border-3">
          <h4>Alugando</h4>
        </div>
        <div class="card-body bg-dark text-white">
          <div class="row">
            <div class="form-group col-md-6" style="text-align: left;">
              <label for="dataDevolucao"><strong>Data Devolução:</strong></label>
              <input type="date" style="color: #6aaeed; border-color: white;" class="form-control" name="dataDevolucao" [(ngModel)]="aluguel.dataDevolucao" required>
            </div>
            <div class="form-group col-md-6" style="text-align: left;">
              <label for="dataDevDef"><strong>Data de Devolução Definitiva :</strong></label>
              <input type="date" style="color: #6aaeed; border-color: white;"  class="form-control" name="dataDevDef" [(ngModel)]="aluguel.dataDevDefinitiva" required>
            </div>
            <div class="form-group col-md-6" style="text-align: left;">
              <label for="distancia"><strong>Distância:</strong></label>
              <input type="number" style="color: #6aaeed; border-color: white;" class="form-control" name="distancia" [(ngModel)]="frete.distancia" required>
            </div>
            <div class="form-group col-md-6" style="text-align: left;">
              <label for="enderecoDeEntrega"><strong>Endereço</strong></label>
              <select class="form-control" style="color: #6aaeed; border-color: white;" name="enderecoDeEntrega" [(ngModel)]="aluguel.idEnderecoDeEntrega" required>
                <option *ngFor="let endereco of enderecos" [ngValue]="endereco">{{ endereco.nome }}</option>
              </select>
            </div>
          </div>
          <br>
          <div class="d-flex justify-content-between">
            <div class="d-flex">
              <button type="button" class="form-control btn btn-primary me-2" (click)="atualizarAluguel()">
                <i class="bi bi-check"></i><strong>Alugar</strong>
              </button>
              <button type="button" class="form-control btn btn-warning">
                <strong>Voltar</strong>
              </button>
            </div>
            <button class="btn btn-warning" style="width: 200px;" (click)="cadastrarEndereco()">
              <img src="assets/images/IconMais.png" style="width: 18px; height: 20px; padding-bottom: 3px;" alt="adicionar novo endereço">
              <strong>Adicionar Endereço</strong>
            </button>
          </div>
        </div>
      </div>
    </form>

    <br><br>
     <table class="table table-dark table-striped border" style="border-color: white;">
      <thead style="text-align: center;">
        <tr class="sobrePor">
          <th>Nome</th>
          <th style="width: 900px;">Descrição</th>
          <th>Valor da diária</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody class="table-group-divider border" style="text-align: center; border-color: white;">
        @for (item of itens; track item){
          <tr class="sobrePor">
            <td>{{ item.brinquedo.nome }}</td>
            <td>{{ item.brinquedo.descricao }}</td>
            <td>R$ {{ item.brinquedo.valorDiaria }}</td>
            <td>
                  <button class="btn btn-danger col-md-1" style="width: 55px; text-align: center;">
                    <img style="width: 20px; height: 24px; padding-bottom: 4px;" src="assets/images/IconLixeira.png" alt="lixeira" (click)="removerItem(item.id)">
                  </button>
          </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
