<body style="background-image: linear-gradient(to right, #6aaeed, #3561ae)">
<div class="d-flex" style="text-align: center;">
  <nav class="sidebar bg-body-tertiary" data-bs-theme="dark" onmouseover="this.style.width = '300px';" onmouseout="this.style.width = '150px';" style="transition: all 0.3s cubic-bezier(1,1,1,1);z-index: 1000; color: #ffff; width: 15%; background-color: var(--bs-body-tertiary); position: fixed; height: 100vh; overflow-y: auto; display: flex; flex-direction: column; ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <br>
        <img src="assets/images/LogoCamax.png" style="border-radius: 70%; width: 100px; height: 100px"  alt="Logo CaMax">
        <br><br>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler"><button style="display: inline-block; padding: 10px 20px; background-color: #007bff; color: white; border: none; border-radius: 5px; cursor: pointer; font-size: 16px; transition: background-color 0.3s;" onmouseover="this.style.backgroundColor='#0056b3';" onmouseout="this.style.backgroundColor='#007bff';">
          <strong>Carrinho</strong></button></span>
      </button>
      <div id="navbarSupportedContent" class="collapse navbar-collapse">
      <table class="table table-dark table-striped border-primary">
        <br>
        <tr>
          <th>Nome</th>
          <th><div class="col form-group" style="background-color: #2b3035; width: 90px; align-items: center;">
            <label for="valorMaximo" class="form-label">Quantidade:</label>
            <input type="number" class="form-control" name="valorMaximo"></div>
          </th>
        <tr>

        </table>
      </div>
      <ul class="nav-link" style="color: rgb(0, 123, 255);">
        <br>
        <li style="height: 30px; align-items: center; justify-content: center;" onmouseover="this.style.backgroundColor='rgb(0, 123, 255)';" onmouseout="this.style.backgroundColor='#2b3035'"><a style="text-decoration: none;padding-top: 30px; color: white;" href="/brinquedos"><strong>Brinquedos</strong></a></li>&thinsp;
        <li style="height: 30px; align-items: center; justify-content: center;" onmouseover="this.style.backgroundColor='rgb(0, 123, 255)';" onmouseout="this.style.backgroundColor='#2b3035'"><a style="text-decoration: none;padding-top: 30px; color: white;" href="/brinquedos"><strong>Brinquedos</strong></a></li>&thinsp;
        <li style="height: 30px; align-items: center; justify-content: center;" onmouseover="this.style.backgroundColor='rgb(0, 123, 255)';" onmouseout="this.style.backgroundColor='#2b3035'"><a style="text-decoration: none;padding-top: 30px; color: white;" href="/brinquedos"><strong>Brinquedos</strong></a></li>&thinsp;
        <li style="height: 30px; align-items: center; justify-content: center;" onmouseover="this.style.backgroundColor='rgb(0, 123, 255)';" onmouseout="this.style.backgroundColor='#2b3035'"><a style="text-decoration: none;padding-top: 30px; color: white;" href="/brinquedos"><strong>Brinquedos</strong></a></li>&thinsp;
      </ul>
    </div>
  </nav>
  <!-- Main Content -->
  <div class="content flex-grow-1 p-3">
    <router-outlet></router-outlet>
  </div>
</div>
