<body style="background-image: linear-gradient(to right, #6aaeed, #3561ae)"></body>
<br>
<div class="container" data-bs-theme="dark" style="width: 25%;">
    <div class="card border-3" style="border-color: #6a6767;">
      <br>
      <div class="row" style="justify-content: space-evenly; text-align: center; height: 175px;">
        <img class="sobreLogoCamax" src="assets/images/LogoCamax.png" style="border-radius: 75%; width: 165px; height: 135px"  alt="Logo CaMax">
        <p style="font-size: 35px;"><strong>Cadastre-se</strong></p>
      </div>
        <form>
            <div class="card-body bg-dark text-white">

              <div class="row md-4">
                <div class="form-group col-md-12" style="text-align: left;">
                  <label for="nome"><strong>Nome</strong></label>
                  <input type="text"style="color: #6aaeed; border-color: white;" class="form-control" name="nome" [(ngModel)]="usuario.nome">
                </div>
              </div>

              <div class="row md-4">
                <div class="form-group col-md-12" style="text-align: left;">
                  <label for="cpf"><strong>CPF</strong></label>
                  <input type="text"style="color: #6aaeed; border-color: white;" class="form-control" name="cpf" [(ngModel)]="usuario.cpf">
                </div>
              </div>

              <div class="row md-4">
                <div class="form-group col-md-12" style="text-align: left;">
                  <label for="email"><strong>E-mail</strong></label>
                  <input type="email"style="color: #6aaeed; border-color: white;" class="form-control" name="email" [(ngModel)]="usuario.email">
                </div>
              </div>

              <div class="row md-4">
                <div class="form-group col-md-12" style="text-align: left;">
                  <label for="data_nascimento"><strong>Data de Nascimento</strong></label>
                  <input type="date"style="color: #6aaeed; border-color: white;" class="form-control" name="data_nascimento"  [(ngModel)]="usuario.data_nascimento">
                </div>
              </div>

              <div class="row md-4">
                <div class="form-group col-md-12" style="text-align: left;">
                  <label for="telefone"><strong>Telefone</strong></label>
                  <input type="tel"style="color: #6aaeed; border-color: white;" class="form-control" name="telefone" [(ngModel)]="usuario.telefone">
                </div>
              </div>

              <div class="row md-4">
                <div class="form-group col-md-12" style="text-align: left;">
                  <label for="senha"><strong>Senha</strong></label>
                  <input type="password"style="color: #6aaeed; border-color: white;" class="form-control" name="senha" [(ngModel)]="usuario.senha">
                </div>
              </div>
                <div class="row" style="justify-content: space-evenly">
                  <div class="form-group col-md-6">
                    <label>&nbsp;</label>
                    <button type="submit" class="form-control btn btn-primary" (click)="salvar()"><i class="bi bi-check" (click)="salvar()">
                      </i><strong>Cadastrar-se</strong></button>
                  </div>
                </div>
                </div>
                <div class="row" style="text-align: center; margin-bottom: 10px;">
                  <a href="">Já possui uma conta?</a>
                </div>
        </form>
      </div>
    </div>

