 <pre>{{brinquedo|json}}</pre>
 <div class="container" data-bs-theme="dark" style="width: 75%;">
      <br>
      <form>
        <div class="card border-3 " >
          <div class="card-header text-white bg-primary border-3">
            <h4>Novo Brinquedo</h4>
          </div>
          <div class="card-body bg-dark text-white">
    
            <div class="row">
    
              <div class="form-group col-md-6" style="text-align: left;">
                <label  for="nome"><strong>Nome:</strong></label>
                <input type="text" style="color: #6aaeed;" class="form-control" name="nome" [(ngModel)]="brinquedo.nome"> 
              </div>
              
              <div class="form-group col-md-3" style="text-align: left;">
                <label for="valorDiaria"><strong>Valor da Diária:</strong></label>
                <input style="color: #6aaeed;" type="number" class="form-control" name="valorDiaria" [(ngModel)]="brinquedo.valorDiaria">
              </div>

              <div class="form-group col-md-12" style="text-align: left;">
                <label for="descricao"><strong>Descrição</strong></label>
                <input type="text"style="color: #6aaeed;" class="form-control" name="descricao" [(ngModel)]="brinquedo.descricao"> 
              </div>
              <div class="row" >
                <div class="form-group col-md-2">
                  <label>&nbsp;</label>
                  <button type="submit" class="form-control btn btn-primary" (click)="cadastrarBrinquedo()"><i class="bi bi-check"> 
                    </i><strong>Cadastrar</strong></button>
                </div>
                <div class="form-group col-md-1">
                  <label>&nbsp;</label>
                  <button type="submit" class="form-control btn btn-warning" (click)="voltar()"><strong>Voltar</strong></button>
                </div>
              </div>
              </div>
            </div>
            
        </div>
      </form>
    </div>
