  <div class="container" data-bs-theme="dark">
    <form>
      <div class="card">
        <div class="card-header text-white bg-primary">
          <h4>Brinquedos</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6 form-group" style="text-align: left;">
              <label for="nomeBrinquedo" class="form-label"><strong>Nome do Brinquedo:</strong></label>
              <input
              type="text"
              class="form-control"
              name="nomeBrinquedo" style="color: #6aaeed; border-color: white;"
              [(ngModel)]="seletor.nomeBrinquedo">
            </div>
            <div class="col-md-3 form-group" style="text-align: left;">
              <label for="valorMinimo" class="form-label" ><strong>Valor Mínimo:</strong></label>
              <input
              type="number"
              class="form-control"
              name=" valorMinimo" style="color: #6aaeed; border-color: white;"
              [(ngModel)]="seletor.valorMinimo">
            </div>
            <div class="col-md-3 form-group" style="text-align: left;">
              <label for="valorMaximo" class="form-label"><strong>Valor Máximo:</strong></label>
              <input
              type="number"
              class="form-control"
              name="valorMaximo" style="color: #6aaeed; border-color: white;"
              [(ngModel)]="seletor.valorMaximo">
            </div>
          </div>
          <br>
          <div class="d-flex justify-content-between">
            <div class="d-flex">
              <button type="submit" class="form-control btn btn-primary me-2" (click)="pesquisar()">
                <i class="bi bi-check"></i><strong>Pesquisar</strong>
              </button>
              <button type="submit" class="form-control btn btn-warning" (click)="limpar()">
                <strong>Limpar</strong>
              </button>
            </div>
            <button class="btn btn-warning" [routerLink]="['/home/brinquedos/cadastro']" style="width: 171px;" *ngIf="ehAdministrador">
              <img src="assets/images/IconMais.png" style="width: 18px; height: 20px; padding-bottom: 3px;" alt="adicionar novo brinquedo">
              <strong>Novo Brinquedo</strong>
            </button>
          </div>
      </div>
      </div>
    </form>
    <br><br>
    <table class="table table-dark table-striped border" style="border-color: white;">
      <thead style="text-align: center;">
        <tr style="text-align: center; vertical-align: middle;">
          <th style="width: 164px">Nome</th>
          <th style="width: 583px;">Descrição</th>
          <th style="width: 40px">Estoque Total</th>
          <th style="width: 40px">Itens Disponíveis</th>
          <th style="width: 100px">Valor da Diária</th>
          <th class="">Ações</th>
        </tr>
      </thead>
      <tbody class="table-group-divider border" style="text-align: center; border-color: white;">
        @for (brinquedo of brinquedos; track brinquedo){
          <tr class="sobrePor">
            <td>{{ brinquedo.nome }}</td>
            <td>{{ brinquedo.descricao }}</td>
            <td>{{ brinquedo.estoqueTotal }}</td>
            <td>{{ brinquedo.estoqueDisponivel}}</td>
            <td>R$ {{ brinquedo.valorDiaria}}</td>
            <td>
              <div class="row" style="text-align: center;">
                &nbsp;&nbsp;
                  <button class="btn btn-primary col-md-4" style="width: 75px; text-align: center;"
                  (click)="adicionarItemAoCarrinho(brinquedo)" ><strong>Alugar</strong></button> &nbsp;&nbsp;
                
                  <button  (click)="excluir(brinquedo)" class="btn btn-danger col-md-3" style="width: 55px; text-align: center;" *ngIf="ehAdministrador"><img style="width: 20px; height: 24px; padding-bottom: 4px;" src="assets/images/IconLixeira.png" alt="lixeira"></button>&nbsp;&nbsp;

                  <button (click)="editar(brinquedo.id)" *ngIf="ehAdministrador" class="btn col-md-3" onmouseover="this.style.backgroundColor='#a89108';" onmouseout="this.style.backgroundColor='#e3c30d'" style="background-color: #e3c30d;width: 60px; text-align: center;">
                    <img style="width: 30px; height: 25px; padding-bottom: 4px;" src="assets/images/IconEditar.png" alt="editar" ></button> &nbsp;&nbsp;
                
                  <button class="btn" style="width: 45px; background-color: rgb(137, 185, 65);"
                 (click)="criarItem(brinquedo)" *ngIf="ehAdministrador"><img src="assets/images/IconMais.png" style="width: 18px; height: 20px; padding-bottom: 3px;" alt="adicionar novo brinquedo">
                </button>
                </div>
          </td>
          </tr>
        }
      </tbody>
    </table>
  </div>

