  <div class="container" data-bs-theme="dark" style="width: 75%;">
    <form >
      <div class="card">
        <div class="card-header text-white bg-primary">
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6 form-group" style="text-align: left;">
              <label for="nomeBrinquedo" class="form-label"><strong>Nome do Brinquedo:</strong></label>
              <input
              type="text"
              class="form-control"
              name="nomeBrinquedo" style="border-color: white;"
              [(ngModel)]="seletor.nomeBrinquedo">
            </div>
            <div class="col-md-3 form-group" style="text-align: left;">
              <label for="valorMinimo" class="form-label" ><strong>Valor Mínimo:</strong></label>
              <input
              type="number"
              class="form-control"
              name=" valorMinimo" style="border-color: white;"
              [(ngModel)]="seletor.valorMinimo">
            </div>
            <div class="col-md-3 form-group" style="text-align: left;">
              <label for="valorMaximo" class="form-label"><strong>Valor Máximo:</strong></label>
              <input
              type="number"
              class="form-control"
              name="valorMaximo" style="border-color: white;"
              [(ngModel)]="seletor.valorMaximo">
            </div>
          </div>
          <br>
          <div class="row" style="text-align: right;">
            <div class="col-md-2">
                <button
                type="submit"
                class="btn btn-primary col-md-12"
                (click)="pesquisar()"
                name="btnPesquisar"
                ><strong>Pesquisar</strong></button>
            </div>
            <div class="col-md-1">
              <button
              type="submit"
              class="btn btn-warning col-md-"
              (click)="limpar()"
              name="btnPesquisar"
              ><strong>Limpar</strong></button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <br><br>
    <table class="table table-dark table-striped border" style="border-color: white;">
      <thead style="text-align: center;">
        <tr>
          <th>Nome</th>
          <th style="width: 600px;">Descrição</th>
          <th >Estoque</th>
          <th>Valor da diária</th>
          <th class="col-md-2">Ações</th>
        </tr>
      </thead>
      <tbody class="table-group-divider border" style="text-align: center; border-color: white;">
        @for (brinquedo of brinquedos; track brinquedo){
          <tr class="sobrePor">
            <td>{{ brinquedo.nome }}</td>
            <td>{{ brinquedo.descricao }}</td>
            <td>{{ brinquedo.quantEstoque }}</td>
            <td>R$ {{ brinquedo.valorDiaria}}</td>
            <td>
              <div class="row">
                  <button class="btn btn-primary col-md-4" style="width: 75px; text-align: center;" (click)="adicionarItemAoCarrinho(brinquedo)">Alugar</button> &nbsp;&nbsp;
                  
                  <button class="btn btn-danger col-md-3" style="width: 55px; text-align: center;"><img style="width: 20px; height: 24px; padding-bottom: 4px;" src="assets/images/IconLixeira.png" alt="lixeira" (click)="excluir(brinquedo)"></button>&nbsp;&nbsp;

                  <button class="btn col-md-3" onmouseover="this.style.backgroundColor='#a89108';" onmouseout="this.style.backgroundColor='#e3c30d'" style="background-color: #e3c30d;width: 60px; text-align: center;"><img style="width: 30px; height: 25px; padding-bottom: 4px;" src="assets/images/IconEditar.png" alt="editar" (click)="editar(brinquedo.id)"></button>
                </div>
          </td>
          </tr>
        }
      </tbody>
    </table>
    <div style="text-align: right;">
     <button class="btn btn-warning col-md-3" [routerLink]="['/brinquedos/cadastro']" style="width: 171px;"><img src="assets/images/IconMais.png" style="width: 18px;height: 20px; padding-bottom: 3px;" alt="adicionar novo brinquedo">
      <strong>Novo Brinquedo</strong></button>
    </div>
  </div>

